* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: whitesmoke;
}

.scanlines {
    overflow: hidden;
    mix-blend-mode: difference;
}
  
.scanlines::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  
    background: repeating-linear-gradient(
      to bottom,
      transparent 0%,
      rgba(255, 255, 255, 0.05) .5%,
      transparent 1%
    );
  
    animation: fudge 7s ease-in-out alternate infinite;
}

@keyframes fudge {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(0px, 2%);
    }
}

:root {
    --main-txt-color: rgb(255, 255, 255, 1.0)
}

.heading-container {
    display: grid;
    place-self: left;
    padding: 1rem;
}

.sixtyfour-logo {
    position: relative;
    font-family: "Sixtyfour", serif;
    font-size: 2.0rem;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0;
}

.sixtyfour-logo:hover {
    opacity: 0.9;
    text-shadow: 0px -5px #ec2225, 0px 5px #00c2cb, -5px 0px #ec2225, 5px 0px #00c2cb;
}

.sixtyfour-logo::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.sixtyfour-logo:hover::before {
    animation: animate-logo 60ms ease-in-out infinite;
    z-index: 1;
}

@keyframes animate-logo {
    0%, 100%{
        top: -0.438rem;
        left: 0;
        opacity: 1;
    }
    20%{
        top: 0;
        left: -0.063rem;
        opacity: 0.7;
    }
    40%{
        top: 0.438rem;
        left: 0;
        opacity: 0.2;
    }
    60%{
        top: 0;
        left: 0.625rem;
        opacity: 0.3;
    }
    80%{
        top: 0;
        left: 0;
        opacity: 0.9;
    }
}

.ibm-plex-mono-bold {
    font-family: "IBM Plex Mono", serif;
    font-weight: 700;
    font-style: normal;
}


.slogan {
    font-family: "IBM Plex Mono", serif;
    font-weight: 700;
    font-style: normal;
    padding-top: 10rem;
    padding-left: 10rem;
    padding-right: 10rem;
}



.article-container {
    display: grid;
    place-self: center;
    grid-template-columns: 1fr;
    gap: 1rem;
    font: 1rem;
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    min-height: 20vh;
    max-width: 100%;
    padding-bottom: 1rem;
    border: 1px solid black;
    background: linear-gradient(180deg, black, rgba(23, 23, 23, 1));
    border-radius: 10px 10px 0px 0px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.footer-container {
    display: grid;
    align-self: center;
    place-self: center;
    grid-template-columns: repeat(5, 1fr);
}

.footer-copyright {
    display: grid;
    align-self: center;
    place-self: center;
    grid-template-columns: 1fr;
    color: whitesmoke;
    font-size: 0.75rem;
    position: absolute;
    bottom: 0;
}

.gaming-span {
    color:#ec2225
}

.music-span {
    color:blueviolet;
}


.paragraph-links {
    font-family: "IBM Plex Mono", serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    transition: color 2s;
}

.paragraph-links:hover {
    text-decoration: underline;
}


.links {
    color: whitesmoke;
    font-family: "IBM Plex Mono", serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 2s;
}

.links:hover {
    color: #00c2cb;
}

@media screen and (max-width: 816px) {
    /* .sixtyfour-logo {
        font-size: 2.50rem;
    } */
}

@media screen and (max-width: 500px) {
    /* .sixtyfour-logo {
        font-size: 1.25rem;
    } */

    .footer-container {
        grid-template-columns: 1fr;
    }

    .links {
        font-size: 0.75rem;
        padding: 1rem;
    }
}

@media screen and (max-width: 250px) {
    /* .sixtyfour-logo {
       place-self: center;
    } */

    .footer-container {
        grid-template-columns: 1fr;
    }

    .links {
        font-size: 0.75rem;
        padding: 1rem;
    }
}




